header { /* initializing cover photo */
  font-family: "Abril Fatface", cursive;
  color: #222;
  position: absolute;
  display: flex;
  top: 0;
  text-align: left;
  margin-left: 30%;
  margin-right:30%;
}

 img { /* Anakin photo */
  position: absolute;
  width: 63em;
  height: auto;
}

.introduction { /* Hi, My name is Anakin Skywalker - text on photo */
  position: relative;
  text-align: left;
  left: 7em;
  top: 6em;
  line-height: 0.7em;
  font-size: 1.8em;
  font-weight: 500;
  line-height: 0;
  overflow: hidden;
}

.my-name-is { /* correction for text style */
 margin-bottom: -0.5em; 
}

.anakin { /* correction for text style */
  font-size: 1.95em;
  width: 10em;
/*  height: 1em;
  background: red; */ /* box size check */
}

main { /* all the text part under photo */
  font-family: "Josefin Sans", sans-serif;
  color: #222;
  position: absolute;
  top: 22em;
  display: flex;
  flex-wrap: wrap;
  width: 50em;
  padding-left: 6em;
  text-align: left;
  margin-left: 30%;
  margin-right: 30%;
  line-height: 1.5em;
  font-weight: 200;
}

.start-cv, .first-list { /* first paragraph */
  position: relative;
  display: inline-block;
  font-size: 1.15em;
  margin: 1em 1em 3em 2em;
}

.first-list { /* correction */
  margin-top: -2em;
  margin-bottom: 3em;
}

.darker { /* highlighted words - correction */ 
    font-weight: bold;  
}

.black-box, .black-box-bigger { /* quotation boxes */
  font-family: "Abril Fatface", cursive;
  font-size: 2.8em;
  color: white;
  background: #525252;
  height: 3em;
  width: 100%;
  line-height: 1.2em;
}

.black-box-bigger { /* box size correction */
  padding-right: 2em;
  height: 4.2em;
}

.quote { /* text formation */ 
  position: relative;
  top: -2.8em;
  left: 1em;
  color: white; 
  letter-spacing: 0.03em;
}

 blockquote:before { /* quotation mark positioning in box */
  position: relative;
  content: "\201C";
  top: -0.3em;
  left: -0.4em;
  color: white;
  font-size: 2.2em;
}

h5 { /* formatting smallest text part */
  font-size: 1em;
  margin: 2em 1em 3em 0;
  font-weight: 300;
}

ul { /* listed line parameters */ 
  margin-top: -0.5em;
}

.capital-title { /*main paragraphs */ 
  text-transform: uppercase;
  margin: 2.3em 0 1.5em 0;
  font-size: 1.5em;
}

.title { /*sub paragraphs */
  font-size: 1.4em;
  margin: 2em 1em -0.5em 0;
}

.subtitle {
  font-size: 1em;
  font-style: italic;
  font-family: "Merriweather", serif;
  margin: 1em 1em 2em 0;
}

.black-line { /* line break */
  background: #525252;
  width: 100%;
  height: 0.3em;
  margin: 0;
}

.notable-achievements, .experience, .formal-training, .personal-interests { /* sections */
  margin-left: 2em;
  margin-right: 1em;
}